body{
    background-color: darkgrey;
}
.anniversaire{
    background-color: cadetblue;
    margin-top: 23px;
    border-radius: 4%;
    margin-left: 150px;
    margin-right: 150px;
}
image{
    position: absolute;
    margin-left: 20px;
    margin-top: 13px;
}